<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <script type="text/javascript">
      function googleTranslateElementInit() { new
      google.translate.TranslateElement({ pageLanguage: 'en' },
      'google_translate_element'); }
    </script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/admin.css" />
  </head>

  <body>
    <div class="grid-container">
      <aside id="sidebar">
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/admin">
              <span class="material-icons-outlined">dashboard</span>
              DASHBOARD
            </a>
          </li>
          <li class="sidebar-list-item active">
            <a href="/admin/addproduct">
              <span class="material-icons-outlined">add_circle</span>
              ADD PRODUCTS
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/admin/products/all">
              <span class="material-icons-outlined">inventory_2</span>
              SHOW PRODUCTS
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#">
              <span class="material-icons-outlined">settings</span>
              SETTINGS
            </a>
          </li>
          <li>
            <div
              style="margin-left: 20px; margin-top: 40px; font-weight: 600;"
            >Socials</div>
            <div class="platforms">
              <div class="insta">
                <a href=""><i
                    class="fa-brands fa-instagram"
                    style="color: #e26060"
                  ></i></a>
              </div>
              <div class="facebook">
                <a href=""><i
                    class="fa-brands fa-square-facebook"
                    style="color: #0f72bd"
                  ></i></a>
              </div>
              <div class="twitter">
                <a href=""><i
                    class="fa-brands fa-x-twitter"
                    style="color: #333"
                  ></i></a>
              </div>
              <div class="youtube">
                <a href=""><i
                    class="fa-brands fa-youtube"
                    style="color: #ff0000;"
                  ></i></a>
              </div>
            </div>
          </li>
        </ul>
      </aside>

      <main class="main-container">
        <div class="content">

          <form action="/admin/addproduct" method="post">
            <div class="b">
              <h2>Add product details here</h2>
              <p>Name of the product</p>
              <input class="inp" type="text" name="name" required />
              <p>Price</p>
              <input class="inp" type="number" name="price" required />
              <p>Seller Name</p>
              <input class="inp" type="text" name="seller" required />
              <p>Image Url</p>
              <input class="inp" type="text" name="imageUrl" required />
              <p>Description</p>
              <textarea class="inp d" name="description" required></textarea>
              <p>Category</p>
              <input class="inp" type="text" name="category" required />
              <button class="sub" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </main>
    </div>

    <script>
      // SIDEBAR TOGGLE let sidebarOpen = false; const sidebar =
      document.getElementById('sidebar'); function openSidebar() { if
      (!sidebarOpen) { sidebar.classList.add('sidebar-responsive'); sidebarOpen
      = true; } } function closeSidebar() { if (sidebarOpen) {
      sidebar.classList.remove('sidebar-responsive'); sidebarOpen = false; } }
    </script>
  </body>

</html>